.dashboard-header{
    margin-bottom:25px;
}

.dashboard-header h1{
    font-size:34px;
    font-weight:700;
}

.dashboard-header p{
    color:#94A3B8;
    margin-top:5px;
}

.dashboard-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:25px;
    align-items:start;
}

.camera-card{
    background:#111827;
    border:1px solid #334155;
    border-radius:18px;
    padding:20px;
}

.card-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.live-badge{
    background:#22C55E;
    color:white;
    padding:6px 12px;
    border-radius:20px;
    font-size:12px;
}

.camera-screen{
    height:420px;
    background:#1E293B;
    border-radius:14px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#94A3B8;
}

.camera-actions{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.camera-actions button{
    flex:1;
    background:#3B82F6;
    color:white;
    padding:12px;
    border-radius:10px;
}

.stats-grid{
    display:grid;
    grid-template-columns:1fr;
    gap:18px;
}

.stat-card{
    background:#111827;
    border:1px solid #334155;
    border-radius:16px;
    padding:18px;
    display:flex;
    align-items:center;
    gap:16px;
}

.stat-icon{
    width:55px;
    height:55px;
    border-radius:14px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:24px;
}

.stat-card span{
    color:#94A3B8;
    font-size:14px;
}

.stat-card h2{
    margin-top:6px;
}

@media(max-width:1100px){

.dashboard-grid{

grid-template-columns:1fr;

}

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.stats-grid{

grid-template-columns:1fr;

}

.camera-actions{

flex-direction:column;

}

}