.navbar{

    height:80px;
    background:#111827;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 35px;

    border-bottom:1px solid #334155;

}

.search-box{

    width:420px;
    height:48px;

    background:#1E293B;

    border-radius:12px;

    display:flex;
    align-items:center;

    gap:12px;

    padding:0 18px;

}

.search-box input{

    flex:1;

    background:transparent;

    color:white;

    font-size:15px;

}

.navbar-right{

    display:flex;

    align-items:center;

    gap:25px;

}

.date-time{

    display:flex;

    flex-direction:column;

    text-align:right;

}

.date-time span{

    color:#94A3B8;

    font-size:13px;

}

.date-time strong{

    color:#3B82F6;

}

.nav-icon{

    font-size:22px;

    cursor:pointer;

}

.profile{

    display:flex;

    align-items:center;

    gap:12px;

}

.avatar{

    width:42px;

    height:42px;

    border-radius:50%;

    background:#3B82F6;

    display:flex;

    justify-content:center;

    align-items:center;

}